<%= simple_form_for(@micropost) do |f| %>
  <div class="field">
    <%= f.text_area :content, :cols => "10", :rows => "4", :maxlength => "100" %>
  </div>
  <%= f.submit "Update Status", class: "btn btn-small btn-primary" %>
<% end %>