<p>Hello <%= @resource.email %>!</p><br/>

<p><%= @resource.invited_by.name %> has invited you to try out WormBurner, a new app for iPhone for golfers.</p><br/>
<p>WormBurner is the new ultimate scoring and stats app for golfers. Analyze your game with detailed stats and get discounts on tee times. You can also create a free downloadable poster with a data visualization of your game!</p><br/>
<p>Learn more and download the app for iPhone at <%= link_to root_url, root_url %>.</p>