<p>Hello <%= @resource.email %>!</p><br/>

<p><%= @resource.invited_by.name %> has invited you to try out GolfPals, a new app for iPhone for golfers.</p><br/>
<p>You’ll be able to plan outings with your friends, make tee times, and post scores and photos. </p><br/>
<p>Learn more and download the app for iPhone at <%= link_to root_url, root_url %>.</p>